<div class="margin-30">
  <h1>Match Score</h1>
  <table class="custom-table">
    <tr>
      <th>Match</th>
      <th>Total Kills</th>
      <th>Players</th>
      <th>Kills</th>
    </tr>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= match.kills.count %></td>
        <td><%= match.players.pluck(:name).uniq.join(' | ') %></td>
        <td><%= match.players.uniq.map { |player| "#{player.name}: #{player.total_kills_in_match(match)}" }.join(' | ') %></td>
      </tr>
    <% end %>
  </table>
</div>