<div class="logo-container">
  <%= image_tag('logo.png', alt: 'Logo', class: 'logo') %>
</div>

<div class="centered">
  <%= link_to 'Match Score', matches_general_report_path, class: 'rounded-button' %>
  <%= link_to 'Death Cause', matches_death_cause_report_path, class: 'rounded-button' %>
</div>
