<div class="logo-container">
  <%= image_tag('logo.png', alt: 'Logo', class: 'logo') %>
</div>

<div class="centered-buttons">
  <%= link_to 'Match Score', matches_general_report_path, class: 'rounded-button' %>
</div>
