<div class="header">
  <div class="logo-header">
    <%= link_to root_path do %>
      <%= image_tag('mini-logo-red.png', class: 'logo-image-header') %>
    <% end %>
  </div>
  <div class="menus">
    <div class="menu">
      <%= link_to 'Match Score', matches_general_report_path %>
    </div>
  </div>
</div>
