<div class="header">
  <div class="logo-header">
    <%= link_to root_path do %>
      <%= image_tag('mini-logo-red.png', class: 'logo-image-header') %>
    <% end %>
  </div>
  <div class="menus">
    <%= nav_link('Match Score', matches_general_report_path) %>
    <span class="text-red">|</span>
    <%= nav_link('Death Cause', matches_death_cause_report_path) %>
  </div>
</div>
